
Tape_Duck/Saved/Logs/Tape_Duck.log
Tape_Duck/Saved/Telemetry/Telemetry.json
/Tape_Duck/Saved
Tape_Duck/Saved/Autosaves/PackageRestoreData.json
Tape_Duck/Saved/Config/WindowsEditor/Editor.ini
Tape_Duck/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Tape_Duck/Saved/Logs/Tape_Duck.log
Tape_Duck/Saved/Telemetry/Telemetry.json
*.log
*.json
Tape_Duck/Saved/Telemetry/Telemetry.json
Tape_Duck/Saved/Logs/Tape_Duck.log
